-use yii\bootstrap\ActiveForm;
-use yii\bootstrap\Nav;
-use yii\helpers\Html;

-$view->params['title'] = "Admin - Create User";
-$view->params['class'] = "inner";

!= $view->render('/_alert', ['module' => Yii::$app->getModule('user'),])

!= $view->render('_menu.haml')

.grid-container
    .grid-x.grid-margin-x
        .medium-3.cell
            :php
                echo Nav::widget([
                    'options' => [
                        'class' => 'nav-pills nav-stacked',
                    ],
                    'items' => [
                        ['label' => Yii::t('user', 'Account details'), 'url' => ['/user/admin/create']],
                        ['label' => Yii::t('user', 'Profile details'), 'options' => [
                            'class' => 'disabled',
                            'onclick' => 'return false;',
                        ]],
                        ['label' => Yii::t('user', 'Information'), 'options' => [
                            'class' => 'disabled',
                            'onclick' => 'return false;',
                        ]],
                    ],
                ])
        .auto.cell
            .callout.alert
                != Yii::t('user', 'Credentials will be sent to the user by email')
                != Yii::t('user', 'A password will be generated automatically if not provided')
            -$form = ActiveForm::begin(['layout' => 'horizontal','enableAjaxValidation' => true,'enableClientValidation' => false,'fieldConfig' => ['horizontalCssClasses' => ['wrapper' => 'col-sm-9',],],]);

            != $view->render('_user', ['form' => $form, 'user' => $user])

            .form-group
                != Html::submitButton(Yii::t('user', 'Save'), ['class' => 'btn btn-block btn-success'])
            -ActiveForm::end();
